<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Blog</title>
    <th:blook th:replace="~{layout :: bootstrap}"></th:blook>
</head>
<body>
<nav th:replace="~{layout :: nav}"></nav>
    <h2>Create New Blog</h2>
    <form action="/create" th:object="${blog}" method="post">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Blog Name</th>
                <td>
                    <input type="text" th:field="*{blogName}">
                </td>
            </tr>
            <tr>
                <th>Blog Type</th>
                <td>
                    <select th:field="*{blogType}">
                        <option th:each="typeObj: ${blogTypeList}"
                        th:value="${typeObj.id}" th:text="${typeObj.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>
                    <textarea th:cols="150" th:rows="5" type="text" th:field="*{blogSummary}"/>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary">Create</button>
    </form>
    <footer th:replace="~{layout :: foot}"></footer>
    <div th:replace="~{layout :: bootstrap1}"></div>
</body>
</html>