<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Updating</title>
  <th:blook th:replace="~{layout :: bootstrap}"></th:blook>
  <style>
    body{
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(15,120,224, 1));
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }
  </style>
</head>
<body>
<nav th:replace="~{layout :: nav}"></nav>
<section style="height: 73vh" >
  <h2 style="color: lightcyan; font-size: 50px">We are updating system</h2>
</section>
<footer th:replace="~{layout :: foot}"></footer>
<div th:replace="~{layout :: bootstrap1}"></div>

</body>
</html>