<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product detail</title>
</head>
<body>
    <h2>Product detail</h2>
<table border="1px" cellspacing="0px" cellpadding="0px">
    <tr>
        <th>SKU: </th>
        <td th:text="${product.productId}"></td>
    </tr>
    <tr>
        <th>Product Name: </th>
        <td th:text="${product.productName}"></td>
    </tr>
    <tr>
        <th>Quantity: </th>
        <td th:text="${product.quantity}"></td>
    </tr>
    <tr>
        <th>Quantity: </th>
        <td th:text="${product.price}"></td>
    </tr>
</table>
</body>
</html>